<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giphy search options</title>
</head>
<body>
    <form method="POST" action="#" th:action="@{/search}">
        Phrase: <input type="text" name="phrase"> 
        <br>
        Limit: <select name="limit">
                    <option value="5">5</option>
                    <option>10</option>
                    <option>15</option>
                    <option>20</option>
                </select>
        <br>
        Rating: <select name="rating">
                    <option value="G">G</option>
                    <option>PG</option>
                    <option>PG-13</option>
                    <option>R</option>
                </select>
        <br>
        <button type="submit">Submit</button>
    </form>
    <img src="https://media2.giphy.com/media/fSvqyvXn1M3btN8sDh/giphy.gif?cid=c7493e1fia10sg55qr3vdr9eky2495tzfdx8obmoddy59pfg&rid=giphy.gif&ct=g">
</body>
</html>